@import "tailwindcss";

:root {
  font-family: "Inter", "Roboto", -apple-system, Arial, sans-serif;
  background-color: black;
  line-height: 1.0714285714;
  letter-spacing: -0.005em;
  background-color: black;
}

@theme {
  --color-apple-1: #e4f6f0;
  --color-apple-2: #9dcfca;
  --color-apple-3: #6b95ac;
  --color-apple-4: #45657d;
  --apple-chip-1: #20c9b7;
  --apple-chip-2: #6fe3d6;
  --apple-chip-3: #b8f4eb;
  --breakpoint-3xl: 1880px;
  --breakpoint-xl2: 1380px;

  --breakpoint-tablet: 900px;
  --gradient-apple: linear-gradient(
    90deg,
    var(--color-apple-1),
    var(--color-apple-2) 31%,
    var(--color-apple-3) 68%,
    var(--color-apple-4)
  );

  --gradient-apple-chip: linear-gradient(
    135deg,
    var(--apple-chip-1),
    var(--apple-chip-2),
    var(--apple-chip-3)
  );

  /* New gradient added */
  --gradient-pink-purple: linear-gradient(90deg, #ffe1fc 7%, #c683ef 79%);
  --gradient-blue-cyan: linear-gradient(90deg, #e1e5ff 7%, #83a0ef 80%);
  --gradient-m4-pro: linear-gradient(45deg, #9bcce1, #4271dc, #0d309c, #030a61);
  --gradient-m4-max: linear-gradient(45deg, #ccb8d7, #a477c3, #8457bb, #1b0c53);

  --sk-body-text-color: rgb(245, 245, 247);
  --global-section-background-color-alt-dark: rgb(29, 29, 31);

  --rainbow-gradient: linear-gradient(
    108deg,
    #0090f7,
    #ba62fc 33%,
    #f2416b 66%,
    #f55600
  );

  --sky-gradient: linear-gradient(
    90deg,
    #e4f6f0,
    #9dcfca 31%,
    #6b95ac 68%,
    #45657d
  );
  --bg-rainbow-border: linear-gradient(
    to bottom right,
    #0894ff 0%,
    #c959dd 34%,
    #ff2e54 68%,
    #ff9004
  );
  --text-green-gradient: linear-gradient(90deg, #35a98a 0%, #6dd400);
  --bg-m5: linear-gradient(
    45deg,
    rgb(191, 235, 224),
    rgb(42, 186, 158),
    rgb(23, 140, 155),
    rgb(18, 56, 90)
  );
}

@layer utilities {
  .bg-apple-chip {
    background: var(--bg-m5);
  }
  .bg-m4-pro {
    background: var(--gradient-m4-pro);
  }
  .bg-m4-max {
    background: var(--gradient-m4-max);
  }
  .text-apple-gradient {
    background: var(--gradient-apple);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  .text-pink-purple {
    background: var(--gradient-pink-purple);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  .text-blue-cyan {
    background: var(--gradient-blue-cyan);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  .text-rainbow {
    background: var(--rainbow-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  .bg-sky-gradient {
    background: var(--sky-gradient);
  }
  .text-sky-gradient {
    background: var(--sky-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  .border-sky-gradient {
    border-image-slice: 1;
    border-image-source: var(--sky-gradient);
  }
  .bg-rainbow-border {
    background: var(--bg-rainbow-border);
  }
  .text-green-gradient {
    background: var(--text-green-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
}
